
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Siemreap&family=Bayon&display=swap');

/* -------Root Variables----------- */
:root {
    --main-color-900: #193a61;
    --main-color-800: #184474;
    --main-color-700: #184f8c;
    --main-color-600: #1c63ad;
    --main-color-500: #2b7ecc;
    --main-color-400: #519adf;
    --main-color-300: #8dbcec;
    --main-color-200: #c3daf4;
    --main-color-100: #e4edfa;
    --main-color-50: #f2f7fd;
}

/* ---------Text Colors---------- */
.text-blue-900 { color: var(--main-color-900) !important; }
.text-blue-800 { color: var(--main-color-800) !important; }
.text-blue-700 { color: var(--main-color-700) !important; }
.text-blue-600 { color: var(--main-color-600) !important; }
.text-blue-500 { color: var(--main-color-500) !important; }
.text-blue-400 { color: var(--main-color-400) !important; }
.text-blue-300 { color: var(--main-color-300) !important; }
.text-blue-200 { color: var(--main-color-200) !important; }
.text-blue-100 { color: var(--main-color-100) !important; }
.text-blue-50 { color: var(--main-color-50) !important; }

/* -----------Background Colors--------- */
.bg-blue-900 { background-color: var(--main-color-900) !important; }
.bg-blue-800 { background-color: var(--main-color-800) !important; }
.bg-blue-700 { background-color: var(--main-color-700) !important; }
.bg-blue-600 { background-color: var(--main-color-600) !important; }
.bg-blue-500 { background-color: var(--main-color-500) !important; }
.bg-blue-400 { background-color: var(--main-color-400) !important; }
.bg-blue-300 { background-color: var(--main-color-300) !important; }
.bg-blue-200 { background-color: var(--main-color-200) !important; }
.bg-blue-100 { background-color: var(--main-color-100) !important; }
.bg-blue-50 { background-color: var(--main-color-50) !important; }

/* ---------Font Styles----------- */
.font-eg { font-family: "SUSE", sans-serif; }
.font-kh-siemreap { font-family: "Siemreap", sans-serif; font-weight: 400; }
.font-kh-bayon { font-family: "Bayon", sans-serif; font-weight: 400; }

/* -----------Text-Hover----------*/
.text-hover:hover {
    color: var(--main-color-500) !important;
    /* transition: color 0.3s ease-in-out; */
}
body {
    background-color: black;
}

/* ================ main=============== */
.hero {
    height: 100vh;
}
main > .hero {
    width: 100%;
    /* height: 100%; */
    background: url(https://i.pinimg.com/736x/aa/c2/c0/aac2c00961f6f3c4802010e219910ca0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* ---------------------------------- */

main > .card-content{
    width: 100%;
    /* height: 100%; */
    background: url(https://i.pinimg.com/736x/ea/f6/45/eaf64592797bb9611525ec612b58f7fb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


.hover-image:hover{
    cursor: pointer;
    filter: brightness(120%) !important;
}

/* សម្រាប់ Scroll on Phone */
.scroll-bar::-webkit-scrollbar{
    display: none;
}
.transition{
    transition: .3s ease-in-out;
}
.bg-hover:hover{
    background-color: var(--main-color-500) !important;
}

/* ------------------Footer-------------- */
.top{
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/736x/23/d4/6a/23d46a541602fa24ff96f07bbf522253.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
/* -----------Middle Footer------------- */
.mid{
    width: 100%;
    height: 100%;
   background: url(../assets/middleFooter.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}